html {
    scroll-behavior: smooth;
}

/* Style for main card */
.kent-main-card {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    opacity: 1;
}

.kent-main-card:hover {
    opacity: 0.7;
    transform: scale(0.9);
}

.kent-main-card-clicked {
    background-color: #b0b0b0;
    opacity: 0.7;
    transform: scale(0.9);
}

/* Style for sub-card container */
.kent-sub-cards-container {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: white;
    font-size: 28px;
    border: 1px solid #ddd;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}

.kent-sub-cards-container:after,
.kent-sub-cards-container:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.kent-sub-cards-container:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #FF0000;
    border-left: 5px solid #FF0000;
    border-radius: 10px;
}

.kent-sub-cards-container:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #FF0000;
    border-right: 5px solid #FF0000;
    border-radius: 10px;
}

.kent-sub-cards-container:hover {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.kent-sub-cards-container:hover:before,
.kent-sub-cards-container:hover:after {
    width: 100%;
    height: 100%;
}

/* Style for sub-card description */
.kent-sub-cards-container-clicked {
    background-color: #FF0000;
}

